<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- TagMapper接口的映射文件 -->
<mapper namespace="com.sun.mapper.TagMapper">
    <update id="myUpdateById" parameterType="list">
        UPDATE 'sg_tag' tag SET tag.'del_flag' = #{flag} WHERE tag.'id' = #{id}
    </update>
</mapper>